<a href="https://colab.research.google.com/github/froast1352/Pandas_analysis/blob/main/pandas_election_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING REQUIRED LIBRARIES

In [ ]:
#data manipulation
import pandas as pd

#data visualisation
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

 IMPORTING THE DATASET

In [ ]:

path='/content/Bihar_Election_Results .csv'
df=pd.read_csv(path)

Data Auditing

In [ ]:
#shape of the dataset
df.shape

In [ ]:
#first five rows of the dataset
df.head()

  Election Year  Position  ...        AC name  AC No
0          2010         1  ...  Valmiki Nagar      1
1          2010         2  ...  Valmiki Nagar      1
2          2010         3  ...  Valmiki Nagar      1
3          2010         4  ...  Valmiki Nagar      1
4          2010         5  ...  Valmiki Nagar      1

[5 rows x 8 columns]

In [35]:
#cocise summery of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Election Year  12301 non-null  object
 1   Position       12301 non-null  int64
 2   Name           12301 non-null  object
 3   Votes          12301 non-null  int64
 4   Votes %        12301 non-null  object
 5   Party          12301 non-null  object
 6   AC name        12301 non-null  object
 7   AC No          12301 non-null  int64
 8   vote           12301 non-null  int32
dtypes: int32(1), int64(3), object(5)
memory usage: 817.0+ KB

In [ ]:
pd.set_option('display.max_rows',1000)

In [ ]:
pd.DataFrame(df[df['Election Year']=='2015'].groupby(['Party']).Votes.sum() )\
.sort_values('Votes',ascending=False)

In [45]:
df_a = pd.DataFrame(
    df.groupby(['Election Year', 'Party']).Votes.sum()                    #finding the sum of votes per party per election
)

df_a.groupby(['Election Year']).agg({'Votes':'max'})                      #fatching the values of wineer

                 Votes
Election Year
2005-Feb       6140223
2005-Oct       5525081
2010           6561906
2015           9308015

#First Question
Determine the winning party for every election at the state level. A party which
has the highest total votes is considered the winner here.

In [31]:
#defining a function for winning party
def winning_party(year):                                  
  w=pd.DataFrame(df[df['Election Year']==year].groupby(['Party']).Votes.sum()).sort_values('Votes',ascending=False).head(1)
  return w

#input a year to get the answer 
winning_party('2005-Feb')

                        Votes
Party
Rashtriya Janata Dal  6140223



*   Another method

In [ ]:
#Using a for loop
for year in df.sort_values('Election Year')['Election Year'].unique():
  print(year)
  print(pd.DataFrame(df[df['Election Year']==year].groupby(['Party']).Votes.sum()).sort_values('Votes', ascending=False).head(1))

2005-Feb
                        Votes
Party
Rashtriya Janata Dal  6140223
2005-Oct
                        Votes
Party
Rashtriya Janata Dal  5525081
2010
                       Votes
Party
Janata Dal (United)  6561906
2015
                         Votes
Party
Bharatiya Janta Party  9308015

#Third question
Determine the top 8 parties at the state-level in each election in terms of getting
the most votes.

In [ ]:
#determining the top values in 2005-Feb election
d1=pd.DataFrame(df[df['Election Year']=='2005-Feb'].groupby(['Party']).Votes.sum() )\
.sort_values('Votes',ascending=False).reset_index()[:8]
d1

                      Party    Votes
0      Rashtriya Janata Dal  6140223
1               Independent  3957945
2       Janata Dal (United)  3564930
3      Lok Jan Shakti Party  3091173
4     Bharatiya Janta Party  2686290
5  Indian National Congress  1223835
6       Bahujan Samaj Party  1080745
7           Samajwadi Party   658791

In [ ]:
#determining the top values in 2005-Oct election
d2=pd.DataFrame(df[df['Election Year']=='2005-Oct'].groupby(['Party']).Votes.sum() )\
.sort_values('Votes',ascending=False).reset_index()[:8]
d2

                      Party    Votes
0      Rashtriya Janata Dal  5525081
1       Janata Dal (United)  4819759
2     Bharatiya Janta Party  3686720
3      Lok Jan Shakti Party  2615901
4               Independent  2065744
5  Indian National Congress  1435449
6       Bahujan Samaj Party   981464
7           Samajwadi Party   594266

In [ ]:
#merging the dataframes
x=pd.merge(d1,d2,left_index=True,right_index=True,how='outer',suffixes=('_2005-Feb','_2005-Oct'))
x

             Party_2005-Feb  ...  Votes_2005-Oct
0      Rashtriya Janata Dal  ...         5525081
1               Independent  ...         4819759
2       Janata Dal (United)  ...         3686720
3      Lok Jan Shakti Party  ...         2615901
4     Bharatiya Janta Party  ...         2065744
5  Indian National Congress  ...         1435449
6       Bahujan Samaj Party  ...          981464
7           Samajwadi Party  ...          594266

[8 rows x 4 columns]

In [ ]:
#determining the top values in 2010 election

d3=pd.DataFrame(df[df['Election Year']=='2010'].groupby(['Party']).Votes.sum() )\
.sort_values('Votes',ascending=False).reset_index()[:8]
d3

                        Party    Votes
0         Janata Dal (United)  6561906
1        Rashtriya Janata Dal  5475656
2       Bharatiya Janta Party  4790436
3                 Independent  3842812
4    Indian National Congress  2431477
5        Lok Jan Shakti Party  1957232
6         Bahujan Samaj Party   933947
7  Nationalist Congress Party   528575

In [ ]:
#determining the top values in 2015 election

d4=pd.DataFrame(df[df['Election Year']=='2015'].groupby(['Party']).Votes.sum() )\
.sort_values('Votes',ascending=False).reset_index()[:8]
d4

                              Party    Votes
0             Bharatiya Janta Party  9308015
1              Rashtriya Janata Dal  6995509
2               Janata Dal (United)  6416414
3                       Independent  3580953
4          Indian National Congress  2539638
5              Lok Jan Shakti Party  1840834
6         Rashtriya Lok Samta Party   976787
7  Hindustani Awam Morcha (Secular)   864856

In [ ]:
#Merging the dataframes

y=pd.merge(d3,d4,left_index=True,right_index=True,how='outer',suffixes=('_2010','_2015'))
y

                   Party_2010  ...  Votes_2015
0         Janata Dal (United)  ...     9308015
1        Rashtriya Janata Dal  ...     6995509
2       Bharatiya Janta Party  ...     6416414
3                 Independent  ...     3580953
4    Indian National Congress  ...     2539638
5        Lok Jan Shakti Party  ...     1840834
6         Bahujan Samaj Party  ...      976787
7  Nationalist Congress Party  ...      864856

[8 rows x 4 columns]

In [ ]:
#merging the merged dataframes

z=pd.merge(x,y,left_index=True,right_index=True,how='outer')
z

             Party_2005-Feb  ...  Votes_2015
0      Rashtriya Janata Dal  ...     9308015
1               Independent  ...     6995509
2       Janata Dal (United)  ...     6416414
3      Lok Jan Shakti Party  ...     3580953
4     Bharatiya Janta Party  ...     2539638
5  Indian National Congress  ...     1840834
6       Bahujan Samaj Party  ...      976787
7           Samajwadi Party  ...      864856

[8 rows x 8 columns]



*   Another Method

In [32]:
#using for loop
for year in df.sort_values('Election Year')['Election Year'].unique():          
  print(year)
  print(pd.DataFrame(df[df['Election Year']==year].groupby(['Party']).Votes.sum()).sort_values('Votes', ascending=False).head(8))

2005-Feb
                            Votes
Party
Rashtriya Janata Dal      6140223
Independent               3957945
Janata Dal (United)       3564930
Lok Jan Shakti Party      3091173
Bharatiya Janta Party     2686290
Indian National Congress  1223835
Bahujan Samaj Party       1080745
Samajwadi Party            658791
2005-Oct
                            Votes
Party
Rashtriya Janata Dal      5525081
Janata Dal (United)       4819759
Bharatiya Janta Party     3686720
Lok Jan Shakti Party      2615901
Independent               2065744
Indian National Congress  1435449
Bahujan Samaj Party        981464
Samajwadi Party            594266
2010
                              Votes
Party
Janata Dal (United)         6561906
Rashtriya Janata Dal        5475656
Bharatiya Janta Party       4790436
Independent                 3842812
Indian National Congress    2431477
Lok Jan Shakti Party        1957232
Bahujan Samaj Party          933947
Nationalist Congress Party   528575
2015
                                    Votes
Party
Bharatiya Janta Party             9308015
Rashtriya Janata Dal              6995509
Janata Dal (United)               6416414
Independent                       3580953
Indian National Congress          2539638
Lok Jan Shakti Party              1840834
Rashtriya Lok Samta Party          976787
Hindustani Awam Morcha (Secular)   864856

#Fourth question
Determine the minimum votes that each party in the top 8 of the 2015 election
secured among all the past elections. Do this for all constituencies.

In [ ]:
#defining a function as an input for year and party
def min_vote_each_party(year,party):
  winning_party=pd.DataFrame(df[(df['Election Year']==year) & (df['Party']==party)].groupby (['AC name']).Votes.sum(), columns = ['Votes']).sort_values('Votes',ascending=True)['Votes'].iloc[0]

  return winning_party

In [ ]:
#use the partyname from solution of 3rd question
min_vote_each_party('2010','Janata Dal (United)')

3538

#Fifth question
Determine the consistently tri-polar constituencies. I.e Constituencies in which 3
parties or more got greater than 10% of the vote shares in each election. The
parties can be different for different elections.

In [61]:
df['vote'] = df['Votes %'].apply(lambda x: x.split('.')[0])    #Getting rid of decimals
df['vote'] = df['vote'].astype('int32')                        #turning to integer type
df.head()

  Election Year  Position                     Name  ...        AC name AC No vote
0          2010         1             Rajesh Singh  ...  Valmiki Nagar     1   29
1          2010         2    Mukesh Kumar Kushwaha  ...  Valmiki Nagar     1   19
2          2010         3  Dheerendra Pratap Singh  ...  Valmiki Nagar     1   14
3          2010         4           Irshad Hussain  ...  Valmiki Nagar     1   12
4          2010         5      Deep Narayan Mahato  ...  Valmiki Nagar     1    9

[5 rows x 9 columns]

In [63]:
mm = df.query("(vote >= 10) or (Position >= 3)")          #Query the parties whose atleast positions 3rd has 10% of votes
mm.head()

  Election Year  Position                     Name  ...        AC name AC No vote
0          2010         1             Rajesh Singh  ...  Valmiki Nagar     1   29
1          2010         2    Mukesh Kumar Kushwaha  ...  Valmiki Nagar     1   19
2          2010         3  Dheerendra Pratap Singh  ...  Valmiki Nagar     1   14
3          2010         4           Irshad Hussain  ...  Valmiki Nagar     1   12
4          2010         5      Deep Narayan Mahato  ...  Valmiki Nagar     1    9

[5 rows x 9 columns]

#Sixth question

Determine the stronghold party-seats. A stronghold seat is one that is won by the same party in all the elections.

In [68]:

dt = df[df['Position']==1]                         #Determining the first positions
win = pd.pivot_table(dt,values='Party',index= ['AC name'],columns=['Election Year'],aggfunc={'Party':max})     #party who won in the corrosponding constituences       
dm = win[['2005-Feb','2005-Oct','2010','2015']]
same_party = win[dm.eq(dm.iloc[:, 0], axis=0).all(axis=1)]              #parties who won all the elections in same constituencies
same_party

Election Year               2005-Feb  ...                   2015
AC name                               ...
Belhar           Janata Dal (United)  ...    Janata Dal (United)
Bettiah        Bharatiya Janta Party  ...  Bharatiya Janta Party
Chanpatia      Bharatiya Janta Party  ...  Bharatiya Janta Party
Gopalpur         Janata Dal (United)  ...    Janata Dal (United)
Khagaria         Janata Dal (United)  ...    Janata Dal (United)
Kurtha           Janata Dal (United)  ...    Janata Dal (United)
Maharajganj      Janata Dal (United)  ...    Janata Dal (United)
Nalanda          Janata Dal (United)  ...    Janata Dal (United)
Nirmali          Janata Dal (United)  ...    Janata Dal (United)
Parihar        Bharatiya Janta Party  ...  Bharatiya Janta Party
Raxaul         Bharatiya Janta Party  ...  Bharatiya Janta Party
Siwan          Bharatiya Janta Party  ...  Bharatiya Janta Party
Warisnagar       Janata Dal (United)  ...    Janata Dal (United)

[13 rows x 4 columns]

#Seventh question
Determine close contest constituencies. Close contest seats are those in which
the top 2 finishers had a difference of less than 10% votes. Find seats in which
there was a close contest in all the elections. If there is no such seat, then relax
the criteria to 15%

In [72]:
diff = df.query("(Position == 1 or Position == 2)")           #Determining the first two positions in the elction
diff

      Election Year  Position  ... AC No  vote
0              2010         1  ...     1    29
1              2010         2  ...     1    19
14             2010         1  ...     2    41
15             2010         2  ...     2    17
31             2010         1  ...     3    38
...             ...       ...  ...   ...   ...
12254      2005-Feb         2  ...   241    10
12268      2005-Feb         1  ...   242    50
12269      2005-Feb         2  ...   242    43
12282      2005-Feb         1  ...   243    37
12283      2005-Feb         2  ...   243    17

[1944 rows x 9 columns]

In [76]:
pivot = pd.pivot_table(diff, values='vote',index=['AC name'],columns=['Position'])   #getting the values of vote percentage 
pivot

Position                        1          2
AC name
Agiaon                  33.666667  27.666667
Agiaon (SC)             21.000000  18.000000
Alamnagar               40.500000  22.250000
Alauli                  49.000000  34.000000
Alauli (SC)             38.000000  16.000000
Alinagar                42.250000  30.250000
Amarpur                 34.750000  26.750000
Amnour                  33.000000  24.000000
Amour                   45.250000  30.250000
Araria                  41.000000  30.500000
Arrah                   44.500000  34.250000
Arwal                   37.250000  28.250000
Asthawan                49.250000  31.250000
Atri                    39.000000  29.500000
Aurai                   42.000000  28.250000
Aurangabad              33.750000  26.750000
Babubarhi               37.500000  25.000000
Bachhwara               34.250000  25.000000
Bagaha                  40.000000  25.250000
Bahadurganj             34.000000  29.500000
Bahadurpur              41.000000  30.500000
Baikunthpur             43.500000  31.250000
Baisi                   35.500000  24.250000
Bajpatti                43.750000  32.500000
Bakhri                  37.666667  22.666667
Bakhri (SC)             23.000000  21.000000
Bakhtiarpur             42.750000  33.000000
Balrampur               33.000000  27.750000
Baniapur                42.750000  36.750000
Banka                   35.750000  32.750000
Bankipur                62.500000  19.250000
Banmankhi               46.333333  27.333333
Banmankhi (SC)          38.000000  27.000000
Barachatti              50.666667  29.333333
Barachatti (SC)         55.000000  30.000000
Barari                  36.750000  26.250000
Barauli                 40.750000  34.000000
Barbigha                38.250000  27.250000
Barh                    46.000000  29.500000
Barhampur               40.000000  27.500000
Barhara                 40.500000  34.750000
Barharia                37.500000  26.500000
Baruraj                 39.250000  28.000000
Bathnaha                43.000000  33.333333
Bathnaha (SC)           29.000000  25.000000
Begusarai               36.000000  25.250000
Belaganj                46.000000  30.000000
Beldaur                 45.500000  29.500000
Belhar                  35.750000  31.500000
Belsand                 36.750000  27.250000
Benipatti               42.250000  29.750000
Benipur                 44.000000  30.500000
Bettiah                 40.000000  26.250000
Bhabua                  41.000000  28.500000
Bhagalpur               40.250000  32.750000
Bhorey                  46.666667  24.000000
Bhorey (SC)             30.000000  29.000000
Bibhutipur              32.000000  28.500000
Bibhutpur               41.500000  28.000000
Bihariganj              38.750000  28.500000
Biharsharif             42.250000  35.750000
Bihpur                  45.750000  33.000000
Bikram                  41.250000  28.750000
Bisfi                   38.000000  30.250000
Bochaha                 44.666667  31.666667
Bochaha (SC)            31.000000  25.000000
Bodh Gaya               46.666667  35.000000
Bodh Gaya (SC)          55.000000  33.000000
Brahampur               34.500000  28.500000
Buxar                   36.250000  28.000000
Chainpur                41.250000  23.500000
Chakai                  35.500000  23.250000
Chanpatia               39.500000  23.500000
Chapra                  45.500000  30.500000
Chenari                 38.333333  30.666667
Chenari (SC)            35.000000  28.000000
Cheria Bariarpur        32.750000  26.250000
Chhatapur               44.750000  29.750000
Chiraia                 37.750000  27.000000
Danapur                 42.750000  33.000000
Darauli                 34.666667  29.666667
Darauli (SC)            38.000000  30.000000
Daraundha               40.750000  24.250000
Darbhanga               41.000000  30.250000
Darbhanga Rural         35.750000  25.750000
Dehri                   29.500000  25.250000
Dhaka                   43.000000  34.250000
Dhamdaha                39.500000  23.750000
Dhauraiya (SC)          28.000000  22.000000
Dhuraiya                41.000000  28.666667
Digha                   52.750000  24.250000
Dinara                  45.000000  30.500000
Dumraon                 39.750000  28.250000
Ekma                    41.250000  28.750000
Fatuha                  39.000000  34.000000
Fatwah                  47.000000  33.000000
Forbesganj              42.500000  30.000000
Gaighat                 40.500000  30.500000
Garkha                  47.000000  35.000000
Garkha (SC)             51.000000  29.000000
Gaura Bauram            38.500000  29.500000
Gaya Town               45.000000  31.500000
Ghosi                   46.250000  25.000000
Gobindpur               41.750000  29.250000
Goh                     35.750000  32.500000
Gopalganj               41.500000  29.500000
Gopalpur                44.250000  33.750000
Gora Bauram             39.000000  28.000000
Goriakothi              49.500000  25.500000
Goriyakothi             38.000000  30.000000
Govindganj              38.000000  27.500000
Gurua                   39.250000  31.250000
Hajipur                 39.750000  29.500000
Harlakhi                29.000000  25.500000
Harnaut                 47.500000  28.250000
Harsidhi                45.000000  32.666667
Harsidhi (SC)           35.000000  17.000000
Hasanpur                42.000000  27.250000
Hathua                  44.250000  23.750000
Hayaghat                40.750000  30.250000
Hilsa                   46.500000  33.500000
Hisua                   41.500000  30.750000
Imamganj                42.666667  34.000000
Imamganj (SC)           42.000000  29.000000
Islampur                49.250000  32.000000
Jagdishpur              36.750000  31.250000
Jahanabad               40.000000  28.500000
Jale                    39.500000  30.750000
Jamalpur                43.500000  31.250000
Jamui                   50.250000  26.500000
Jhajha                  42.500000  35.000000
Jhanjharpur             37.750000  31.250000
Jokihat                 42.500000  25.250000
Kadwa                   34.250000  25.000000
Kahalgaon               39.500000  28.000000
Kalyanpur               42.714286  27.285714
Kalyanpur (SC)          23.000000  18.000000
Kanti                   38.500000  27.250000
Karakat                 36.500000  31.500000
Kargahar                33.250000  28.250000
Kasba                   42.000000  38.750000
Katihar                 40.750000  30.750000
Katoria                 41.666667  31.000000
Katoria (ST)            55.000000  20.000000
Keoti                   39.250000  34.750000
Kesaria                 35.500000  27.000000
Khagaria                39.500000  27.750000
Khajauli                44.250000  34.000000
Kishanganj              40.000000  34.250000
Kochadhaman             35.500000  27.250000
Korha                   50.333333  28.000000
Korha (SC)              36.000000  27.000000
Kuchaikote              39.000000  30.750000
Kumhrar                 38.000000  35.500000
Kumhrarh                64.000000  22.500000
Kurhani                 37.750000  33.500000
Kurtha                  40.500000  26.500000
Kusheshwar Asthan       37.000000  25.333333
Kusheshwar Asthan (SC)  32.000000  24.000000
Kutumba                 38.666667  28.333333
Kutumba (SC)            32.000000  29.000000
Lakhisarai              50.250000  24.250000
Lalganj                 35.750000  26.750000
Laukaha                 38.750000  29.500000
Lauriya                 33.250000  24.500000
Madhepura               42.750000  31.250000
Madhuban                36.750000  28.750000
Madhubani               39.750000  35.250000
Maharajganj             40.000000  28.750000
Mahishi                 39.500000  31.750000
Mahnar                  47.500000  42.500000
Mahua                   42.000000  27.250000
Makhadumapur (SC)       39.000000  33.000000
Makhdumpur              41.666667  32.333333
Maner                   41.750000  28.500000
Manhar                  37.500000  29.500000
Manihari                39.666667  29.333333
Manihari (ST)           47.000000  25.000000
Manjhi                  33.250000  25.750000
Marhaura                37.500000  29.250000
Masaurhi                52.000000  28.333333
Masaurhi (SC)           55.000000  18.000000
Matihani                39.750000  27.750000
Minapur                 41.250000  33.250000
Mohania                 39.333333  36.333333
Mohania (SC)            27.000000  19.000000
Mohiuddinnagar          36.500000  26.000000
Mokama                  41.500000  33.250000
Morwa                   36.750000  29.750000
Motihari                41.000000  31.000000
Munger                  40.750000  31.750000
Muzaffarpur             47.750000  31.500000
Nabinagar               36.250000  24.500000
Nalanda                 51.000000  34.750000
Narkatia                38.750000  27.000000
Narkatiaganj            33.250000  26.000000
Narpatganj              46.000000  33.000000
Nathnagar               33.250000  30.750000
Nautan                  32.500000  24.500000
Nawada                  39.500000  33.250000
Nirmali                 43.750000  30.250000
Nokha                   38.250000  28.750000
Obra                    39.500000  29.000000
Paliganj                48.000000  27.000000
Parbatta                46.000000  35.000000
Parihar                 34.000000  30.750000
Paroo                   46.000000  32.750000
Parsa                   48.750000  30.750000
Patepur                 41.333333  32.666667
Patepur (SC)            28.000000  28.000000
Patna Sahib             45.750000  27.500000
Phulparas               36.500000  22.000000
Phulwari                55.666667  25.666667
Phulwari (SC)           59.000000  17.000000
Pipra                   39.875000  29.875000
Pirpainti               40.000000  36.666667
Pirpainti (SC)          28.000000  23.000000
Pranpur                 28.750000  26.500000
Purnia                  51.250000  25.000000
Rafiganj                38.750000  27.250000
Raghopur                37.000000  30.250000
Raghunathpur            35.500000  29.500000
Raja Pakar              39.666667  31.333333
Raja Pakar (SC)         27.000000  21.000000
Rajauli                 41.333333  35.333333
Rajauli (SC)            45.000000  21.000000
Rajgir                  44.333333  29.666667
Rajgir (SC)             37.000000  18.000000
Rajnagar                40.333333  37.333333
Rajnagar (SC)           35.000000  26.000000
Rajpur                  41.000000  28.666667
Rajpur (SC)             25.000000  23.000000
Ramgarh                 29.250000  23.000000
Ramnagar                46.333333  29.666667
Ramnagar (SC)           49.000000  22.000000
Raniganj                46.666667  35.666667
Raniganj (SC)           44.000000  33.000000
Raxaul                  35.750000  30.500000
Riga                    35.750000  23.500000
Rosera                  45.333333  30.333333
Rosera (SC)             26.000000  24.000000
Runisaidpur             38.333333  30.666667
Runnisaidpur            45.000000  30.000000
Rupauli                 40.250000  26.500000
Saharsa                 41.000000  32.000000
Sahebganj               40.500000  34.250000
Sahebpur Kamal          40.250000  25.250000
Sakra                   41.666667  34.333333
Sakra (SC)              29.000000  21.000000
Samastipur              48.250000  24.750000
Sandesh                 37.000000  28.250000
Sarairanjan             47.000000  28.250000
Sasaram                 39.750000  32.500000
Shahpur                 42.750000  31.750000
Sheikhpura              34.500000  28.000000
Sheohar                 34.000000  27.250000
Sherghati               34.500000  28.250000
Sikandra                42.333333  33.000000
Sikandra (SC)           38.000000  36.000000
Sikta                   37.000000  31.000000
Sikti                   41.250000  32.500000
Simri Bakhtiarpur       43.000000  28.500000
Singheshwar             45.666667  30.000000
Singheshwar (SC)        35.000000  31.000000
Sitamarhi               42.250000  37.500000
Siwan                   35.750000  28.750000
Sonbarsa                48.666667  25.333333
Sonbarsha (SC)          20.000000  19.000000
Sonepur                 47.750000  27.000000
Sugauli                 31.500000  25.750000
Sultanganj              33.750000  26.000000
Supaul                  47.500000  34.250000
Sursand                 36.000000  27.750000
Suryagarha              52.250000  27.750000
Taraiya                 37.250000  29.750000
Tarapur                 34.250000  28.000000
Tarari                  34.000000  27.750000
Teghra                  36.750000  25.500000
Thakurganj              36.750000  32.250000
Tikari                  45.500000  30.750000
Tribeniganj             50.000000  33.666667
Triveniganj (SC)        51.000000  39.000000
Ujiarpur                33.500000  22.250000
Vaishali                42.250000  32.000000
Valmiki Nagar           31.750000  21.750000
Warisnagar              43.000000  24.500000
Warsaliganj             40.500000  33.750000
Wazirganj               38.250000  28.750000
Ziradei                 33.750000  28.000000

#Eight question
Find the growing seats. For the top 8 parties at the state-level in the 2005-Feb Election, Determine the seats in which these parties have continuously increased their votes in the next 3 elections.

In [64]:
c = df.groupby(['Election Year','Position'])['Votes'].sum().reset_index()   #Getting values from the table based on positions
c

    Election Year  Position     Votes
0        2005-Feb         1   9322654
1        2005-Feb         2   6554499
2        2005-Feb         3   3350677
3        2005-Feb         4   1658053
4        2005-Feb         5    967080
5        2005-Feb         6    659106
6        2005-Feb         7    480865
7        2005-Feb         8    376390
8        2005-Feb         9    290858
9        2005-Feb        10    221225
10       2005-Feb        11    162851
11       2005-Feb        12    115064
12       2005-Feb        13     85563
13       2005-Feb        14     65416
14       2005-Feb        15     46819
15       2005-Feb        16     34499
16       2005-Feb        17     22618
17       2005-Feb        18     19194
18       2005-Feb        19     16181
19       2005-Feb        20     11693
20       2005-Feb        21      8976
21       2005-Feb        22      6282
22       2005-Feb        23      4698
23       2005-Feb        24      3021
24       2005-Feb        25      3327
25       2005-Feb        26      2413
26       2005-Feb        27      1673
27       2005-Feb        28       748
28       2005-Feb        29       616
29       2005-Feb        30       584
30       2005-Feb        31       478
31       2005-Feb        32       456
32       2005-Feb        33       186
33       2005-Oct         1   9768963
34       2005-Oct         2   7403111
35       2005-Oct         3   3192812
36       2005-Oct         4   1217055
37       2005-Oct         5    696534
38       2005-Oct         6    464994
39       2005-Oct         7    317305
40       2005-Oct         8    207473
41       2005-Oct         9    124102
42       2005-Oct        10     75093
43       2005-Oct        11     40112
44       2005-Oct        12     24903
45       2005-Oct        13     15107
46       2005-Oct        14      6151
47       2005-Oct        15      3178
48       2005-Oct        16      1476
49       2005-Oct        17       321
50       2005-Oct        18       258
51       2005-Oct        19       243
52           2010         1  11650139
53           2010         2   7998287
54           2010         3   3110812
55           2010         4   1726488
56           2010         5   1066481
57           2010         6    762244
58           2010         7    580377
59           2010         8    466777
60           2010         9    371090
61           2010        10    303715
62           2010        11    237069
63           2010        12    192689
64           2010        13    153813
65           2010        14    124505
66           2010        15     86190
67           2010        16     59268
68           2010        17     43049
69           2010        18     34854
70           2010        19     25009
71           2010        20     19687
72           2010        21     14298
73           2010        22     10516
74           2010        23      5645
75           2010        24      4675
76           2010        25      2810
77           2010        26      2120
78           2010        27      1880
79           2010        28      1666
80           2010        29      1401
81           2010        30       550
82           2010        31       500
83           2015         1  16821420
84           2015         2  12421702
85           2015         3   3030609
86           2015         4   1225805
87           2015         5    791815
88           2015         6    606655
89           2015         7    478526
90           2015         8    392106
91           2015         9    319812
92           2015        10    261013
93           2015        11    212269
94           2015        12    165478
95           2015        13    122562
96           2015        14     90322
97           2015        15     66356
98           2015        16     45177
99           2015        17     33114
100          2015        18     24178
101          2015        19     15398
102          2015        20     12161
103          2015        21      9420
104          2015        22      6798
105          2015        23      4661
106          2015        24      3698
107          2015        25      3124
108          2015        26      1714
109          2015        27      1675
110          2015        28      1624
111          2015        29      1121
112          2015        30       800
113          2015        31       382
114          2015        32       149
115          2015        33       149
116          2015        34       143

#Ninth question
Find the declining seats. Repeat exercise g for the opposite growth.

#Tenth question
Determine the state-winner-match constituencies. Find the seats which have
always elected the party that has gone on to win the state election (most votes
secured at state). So if the RJD won at the state level in 2010, then seats which
voted an RJD candidate as winner are considered in this category. This criteria
for a seat has to be matched for each election.

In [50]:
dw = df['Position']== 1                           #Getting first positions at every election
d5 = df['Election Year'] == '2010'                #for year 2010
dg = dw & d5                                      #combining the results
x =df[dg]                                         #getting the first position in 2010 election
winner = x.groupby('Party')['Party'].size()       #getting the size of constituencies that elected parties
winner

Party
Bharatiya Janta Party        91
Communist Party Of India      1
Independent                   6
Indian National Congress      4
Janata Dal (United)         115
Jharkhand Mukti Morcha        1
Lok Jan Shakti Party          3
Rashtriya Janata Dal         22
Name: Party, dtype: int64